@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text); 
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;  
  border-radius: 15px;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%); 
  position: relative;
  margin-bottom: 100px;


}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-top: 35px ;
  padding-left: 45px;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
@media screen and (max-width:830px){
  .container{
    margin-top: 76px;
    color: var(--color-text); 
    margin-left: 10%;
    margin-right: 35%;
    z-index: 1;  
    border-radius: 35px;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    /* position: relative; */
    margin-right: 10%;
    
  }
}